{% extends 'main/base.html' %}
{% block title %}
CREATORRR
{% endblock%}

{% if user.is_authenitcated %}
    {% block content %}
          
<h3>CREATE PAGE</h3>
<form method="post" action="/create/" class="form-group">
    {% csrf_token %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <button type="submit" , name="save" class="btn btn-success">Create New</button>
        </div>
        {{form.as_ul}}
    </div>
</form>

{% endblock%}
{% else %}
    <p>Login <a href="/login/">Here!</a></p>
{% endif%}